#label-input {
    transition: all 0.1s ease-in-out;
    color: #575763;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
  }
  
  .input-base {
    border-radius: 10px;
  }
  
  #input:focus ~ label#label-input,
  #input:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
  }
  
  #input {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline-color: var(--button-text);
    outline: unset;
    border: 1px solid #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 500px;
  }
  
  #input:focus {
    box-shadow: 0 0 0 1px black, 0 0 0 3px rgb(92, 127, 202);
  }
  
  .relative {
    position: relative;
  }
  
.input-value{
    width: 200px;
    border-radius: 10px;
}
.imput-name{
font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: black;
}
.input-select{
    background-color: #D9E9FF;
    width: 154px;
height: 42px;
border-radius: 10px;
border: none;
text-align: center;
}
.submitbutton{
    background-color: #FA9EAE;
    width: 300px;
height: 50px;
top: 1202px;
left: 417px;
border-radius: 20px;
}
/* Variation of work by @mrhyddenn for Radios */


.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #1960d1);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #355abf);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}