 body {
    margin: 0;
    overflow-x: hidden;
  }
.main-content {
    margin-left: 15%;
    padding: 16px;
    background-size: contain;
    background-attachment: fixed ;
    background-color: #f6f6f6 !important;
    min-height: 100%;
  }
.user-profile{
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  margin-right: 1%;
  padding-top: 1%; 
  margin-top: 40px;
}
.mainico{
  margin-right: 10px;
}
.back{
  background-color: #ebf0f5;
  min-height: 100vh; 
}
.whiteback{
  border-top: 3px solid rgb(60,141,188);
  background-color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.gridcontainer{
  display: grid;
  grid-template-columns: repeat(4,23%);
  grid-gap: 20px;
}
.grid-item{
  border-top: 3px solid rgb(98, 174, 255);
  background-color: white;
  padding: 10px;
}
.Headtext1{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
table {
  width: 100%;
  border: none !important;
}

th, td {
  padding: 8px;
  text-align: left;
  border: none !important;
  font-size: 14px;
}

table th {
  border-top: none !important;
  border-bottom: 1px solid black !important ;
}

@media (max-width:1205px) {
  .gridcontainer{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap: 20px;
  }
}
@media (max-width:992px) {
  .main-content {
    margin-left: 25%;
    padding: 16px;
    background-size: contain;
    background-attachment: fixed;
}
.gridcontainer{
  display: grid;
  grid-template-columns: repeat(2,48%);
  grid-gap: 20px;
}
}