
.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100vh;
  background-color: black;
  background-size: contain;
  background-attachment: fixed ;
  background-position: center;
  position: fixed;
  border-right: 2px solid #ADB3CC ;
}
.logoo {
  margin-left: 10%;
  margin-top: 5%;
  width:75%;
  height: 65px;
  margin-bottom: 10px;
}
.sidebar li a {
  display: block;
  color: azure;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 16px;
  text-decoration: none;
}
.mar{
  margin-right: 8px;
}
.sidebar li a:hover {
  background-color: azure;
  border: 2px solid azure;
  color: black;
}
.dropdown .dropdown-toggle {
  color: azure;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-toggle:hover{
  background-color: azure;
  border: 2px solid azure;
  color: black;
}
.dropdown .dropdown-menu {
  display: none;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
  list-style-type: none; 
  padding: 0;
  transition: opacity 1s ease-in-out; 
}

.dropdown .dropdown-menu.active {
  
  display: block;
  background-color: azure;
  /* border: 2px solid azure; */
  color: black;
  border-radius: 20px;
  /* width: 95%; */
}

.dropdown .dropdown-item {
  color: azure;
  font-size: 16px !important;
  /* padding: 8px 16px; */
  text-decoration: none;
  background-color: rgb(56, 56, 56);
}
