*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.profilehead{
    color: black;
    text-align: right;
} 
.flexy{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 20px;
}
.paymentmaindiv{
    height: 120px;
    width: 320px;
    background-color: rgb(221, 76, 57);
}
.react-icon-red{
    color: rgb(149, 51, 41);
    margin-right: 20px;
    font-size: 70px;
    margin-top: -35px;
    transition: transform .7s;
}
.paymentmaindiv:hover{
    .react-icon-red{
      transform: scale(1.2); 
    }
  }
.view-paymentdiv{
    background-color: rgb(198, 66, 51);
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.view-paymentbutton-div{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-wrapper{
    overflow-x: auto;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
.colouredtext1{
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgb(98, 174, 255);
}
.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: rgb(98, 174, 255);
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
@media (min-width:1440px) {
    .flexy{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
    }
    .paymentmaindiv {
        height: 120px;
        width: 100%;
    }
}
@media (max-width:1205px) {
    .paymentmaindiv {
        height: 120px;
        width: 100%;
        background-color: rgb(221, 76, 57);
    }
    .flexy {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 20px;
    }
}
@media (max-width:992px) {
    .paymentmaindiv {
        height: 120px;
        width: 100%;
    }
    .flexy {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 15px;
    }
}