.head1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;    
    font-weight: 300;
}
.butt{
    color: rgb(137, 204, 241);
    text-decoration: underline 1px rgb(200,230,246);
}
.butt:hover{
    color: rgb(165, 214, 240);
    cursor: pointer;
}